---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: #004588;
$html-background-color: #222;
$secondary-brand-color: #9dc10e;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";

.containerVid {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videoHero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}